# Rust
/client/target
Cargo.lock

# Go
go.sum
server/server.exe

# Log files and data
keylog.txt
mouselog.txt
*.log
*.dat
received/
data/

# Build artifacts
*.exe
*.pdb
*.dll
*.obj
*.exp
*.lib
**/*.rs.bk
*.a
*.h
*.o
*.so
*.dylib

# OS
Thumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
*~
.directory

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project

# Other
*.bak
*.tmp
.env
.env.local
*.orig
test_*.txt

