/client/target
Cargo.lock
*.exe
keylog.txt
mouselog.txt
*.log
received/
**/*.rs.bk
*.a
*.h
*.o
*.so
*.dylib
go.sum
*.pdb
*.dll
*.obj
*.exp
*.lib
Thumbs.db
desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
*~
.directory
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp
*.sublime-workspace
*.sublime-project
.env
.env.local
*.orig
test_*.txt
